<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
  <div class="logo">
    <a routerLink="/products">
      <img src="assets/sql.png" alt="sql_img" class="img" />
    </a>
  </div>
  <div class="row my-3">
    <div class="col">
      <button class="btn btn-sm btn-outline-primary" (click)="adRow()">
        Add row
      </button>
    </div>
  </div>
  <div class="row my-3">
    <div class="col">
      <button class="btn btn-sm btn-outline-primary" (click)="deleteRow()">
        Delete row
      </button>
    </div>
  </div>
  <div class="row my-3">
    <div class="col">
      <button class="btn btn-sm btn-outline-primary" (click)="editRows()" id="editButton">Edit</button>
      <button class="btn btn-sm btn-outline-primary" (click)="updateRows()" id="updateButton" hidden="true">Update</button>
    </div>
  </div>
  <table id="columnTable">
    <thead>
      <tr>
        <th>P. key</th>
        <th>Not null</th>
        <th>Field name</th>
        <th>Data type</th>
        <th>Del</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of matrixTableTranspone, let i = index" >
      <td> <input type="checkbox" id="pKeyChk" [(ngModel)]="pKeyCheckbox[i]"> </td>
      <td> <input type="checkbox" [(ngModel)]="isnullCheckbox[i]"> </td>
      <td *ngFor="let cell of row let k = index" contenteditable='false' id="matrixData"> {{cell}}  </td>
      <td> <input type="checkbox" id="delChk"   [(ngModel)]="delCheckbox[i]"> </td>
    </tr>
  </tbody>
  </table>
</aside>

<div class="page-wrapper">
  <div class="page-container">
    <header>
      <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <h1>SQL editor</h1>
          </a>
        </div>
      </nav>
    </header>
    <div class="page-container py-3">
      <div class="row my-3">
        <div class="col">
          <label for="sqlQuery" class="form-label">SQL command</label>
          <textarea class="form-control form-control-sm" id="sqlQuery" rows="3" [(ngModel)]="sqlQuery"></textarea>
        </div>
      </div>
      <div class="row my-3">
        <div class="col">
          <button class="btn btn-sm btn-outline-primary" (click)="executeQuery()">
            Generate
          </button>
        </div>
      </div>
      <div class="col">
        <label for="sqlColumns" class="form-label">Columns</label>
        <div class="input-group">
          <textarea #column readonly class="form-control form-control-sm" id="columns" rows="1">{{ displayColumn() }}</textarea>
          <button class="btn btn-outline-primary btn-sm" (click)="copyToClipboard(column.value, 'column')">
            Copy
          </button>
        </div>
      </div>
      <br>
      <div>
        <label for="sqlTable">Table: </label>
        <input type="text" id="tableName" [(ngModel)]="tableName" class="m-2 rounded p-1" placeholder="Table's name" />
      </div>
      <div class="input-group">
        <textarea #table readonly class="form-control form-control-sm" id="sqlTable"
          rows="1">{{ displayTable() }}</textarea>
        <button class="btn btn-outline-primary btn-sm" (click)="copyToClipboard(table.value, 'table')">Copy</button>
      </div>
      <br>
      <div>
        <label for="sqlTable">Temp table: </label>
        <input type="text" id="tempTableName" [(ngModel)]="tempTableName" class="m-2 rounded p-1 "
          placeholder="Temp table's name">
      </div>
      <div class="input-group">
        <textarea #tempTable appExpandable [expanded]="textarea1Expanded" readonly class="form-control form-control-sm" id="tempTable">{{createTempTable()}}</textarea>
        <button class="btn btn-outline-primary btn-sm" (click)="copyToClipboard(tempTable.value, 'tempTable')">
          Copy
        </button>
      </div>
      <label class="mt-3">Insert into:</label>
      <div class="input-group">
        <textarea #insertInto appExpandable [expanded]="textarea2Expanded" readonly class="form-control form-control-sm" id="insertInto">
INSERT INTO #{{ tempTableName }} WITH (TABLOCKX) ({{ displayColumn() }})
SELECT {{displayTableAndField()}}
FROM dbo.{{tableName}}
</textarea>
        <button class="btn btn-outline-primary btn-sm" (click)="copyToClipboard(insertInto.value, 'tempTable')">Copy</button>
      </div>
      <label>Temp + Insert</label>
      <div class="input-group">
        <textarea #tempAndInsert appExpandable [expanded]="textarea3Expanded" readonly class="form-control form-control-sm" id="tempAndInsert">
IF NOT OBJECT_ID('TempDB..#{{tempTableName}}') IS NULL DROP TABLE #{{tempTableName}}
CREATE TABLE #{{tempTableName}} ({{displayEverything()}}
                                  PRIMARY KEY CLUSTERED({{displayPKey()}}))

{{insertInto.value}}</textarea>
        <button class="btn btn-outline-primary btn-sm" (click)="copyToClipboard(tempAndInsert.value, 'tempTable')">Copy</button>
      </div>
      <label>Merge</label>
      <div class="input-group">
        <textarea #merge appExpandable [expanded]="textarea4Expanded" readonly class="form-control form-control-sm" id="merge"></textarea>
        <button class="btn btn-outline-primary btn-sm" (click)="copyToClipboard(merge.value, 'tempTable')">Copy</button>
      </div>
      <div>
        <label for="groupName">Group name: </label>
        <input type="text" id="groupName" [(ngModel)]="groupName" class="m-2 rounded p-1 "
          placeholder="test">
      </div>
      <div>
        <label for="tabName">Tab name: </label>
        <input type="text" id="tabName" [(ngModel)]="tabName" class="m-2 rounded p-1 "
          placeholder="table">
      </div>
      <label>Group</label>
      <div class="input-group">
        <textarea #group readonly class="form-control form-control-sm" id="group" rows="1">{{displayGroup()}}</textarea>
        <button class="btn btn-outline-primary btn-sm" (click)="copyToClipboard(group.value, 'tempTable')">Copy</button>
      </div>
      <label>TabName1</label>
      <div class="input-group">
        <textarea #tabName1 readonly class="form-control form-control-sm" id="TabName1" rows="1">{{displayTab1()}}</textarea>
        <button class="btn btn-outline-primary btn-sm" (click)="copyToClipboard(tabName1.value, 'tempTable')">Copy</button>
      </div>
      <div>
        <label for="tabAfterName">Tab after: </label>
        <input type="text" id="tabAfterName" [(ngModel)]="tabAfterName" class="m-2 rounded p-1 "
          placeholder="MONEY">
      </div>
      <label>Tab after</label>
      <div class="input-group">
        <textarea #tabAfter readonly class="form-control form-control-sm" id="TabName2" rows="1">{{displayAfter()}}</textarea>
        <button class="btn btn-outline-primary btn-sm" (click)="copyToClipboard(tabAfter.value, 'tempTable')">Copy</button>
      </div>
      <div>
        <label for="tabBeforeName">Tab before: </label>
        <input type="text" id="tabBeforeName" [(ngModel)]="tabBeforeName" class="m-2 rounded p-1 "
          placeholder="@">
      </div>
      <label>Tab before</label>
      <div class="input-group">
        <textarea #tabBefore readonly class="form-control form-control-sm" id="TabName3" rows="1">{{displayBefore()}}</textarea>
        <button class="btn btn-outline-primary btn-sm" (click)="copyToClipboard(tabBefore.value, 'tempTable')">Copy</button>
      </div>
      <div>
        <label for="tab4">Tab 4: </label>
        <input type="text" id="tab4" [(ngModel)]="tab4" class="m-2 rounded p-1 "
          placeholder="SUM">
      </div>
      <label>TabName4</label>
      <div class="input-group">
        <textarea #tabName4 readonly class="form-control form-control-sm" id="TabName4" rows="1">{{displayTab4()}}</textarea>
        <button class="btn btn-outline-primary btn-sm" (click)="copyToClipboard(tabName4.value, 'tempTable')">Copy</button>
      </div>
      <div>
        <label for="beginning">Beginning:</label>
        <input type="text" id="beginning" [(ngModel)]="beginning" class="m-2 rounded p-1 "
          placeholder="cte_MatchBase.">
      </div>
      <div>
        <label for="end">End: </label>
        <input type="text" id="end" [(ngModel)]="end" class="m-2 rounded p-1 "
          placeholder=" = cte_mergeSource.">
      </div>
      <label>Beginning & end</label>
      <div class="input-group">
        <textarea #begin appExpandable [expanded]="textarea5Expanded" readonly class="form-control form-control-sm" id="begin" rows="1">{{displayBeginningAndEnd()}}</textarea>
        <button class="btn btn-outline-primary btn-sm" (click)="copyToClipboard(begin.value, 'tempTable')">Copy</button>
      </div>
      <label>Replacer</label>
      <div class="input-group">
        <textarea #replacer readonly class="form-control form-control-sm" id="replacer"></textarea>
        <button class="btn btn-outline-primary btn-sm" (click)="copyToClipboard(replacer.value, 'tempTable')">Copy</button>
      </div>
      <label>???</label>
      <div class="input-group">
        <textarea #wtfIsThis readonly class="form-control form-control-sm" id="wtfIsThis"></textarea>
        <button class="btn btn-outline-primary btn-sm" (click)="copyToClipboard(wtfIsThis.value, 'tempTable')">Copy</button>
      </div>
      <div>
        <label for="freeHelper">Free helper: </label>
        <input type="text" id="freeHelperID" [(ngModel)]="freeHelper" class="m-2 rounded p-1 "
          placeholder=" = cte_mergeSource">
      </div>
      <div>
        <label for="freeHelperBefore">End: </label>
        <input type="text" id="freeHelperBeforeID" [(ngModel)]="freeHelperBefore" class="m-2 rounded p-1 "
          placeholder="SMTH">
      </div>
      <label>Free helper</label>
      <div class="input-group">
        <textarea #freeHelperCopy readonly class="form-control form-control-sm" id="freeHelperDisplayID">{{displayFreeHelper()}}</textarea>
        <button class="btn btn-outline-primary btn-sm" (click)="copyToClipboard(freeHelperCopy.value, 'tempTable')">Copy</button>
      </div>
      <label>AddColumns_TempTab</label>
      <div class="input-group">
        <textarea #addColumnsTemp readonly class="form-control form-control-sm" id="addColumnsTemp">{{displayEverything()}}</textarea>
        <button class="btn btn-outline-primary btn-sm" (click)="copyToClipboard(addColumnsTemp.value, 'tempTable')">Copy</button>
      </div>
    </div>
  </div>
</div>
