<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
  <div class="logo">
    <a routerLink="/products">
      <img src="assets/sql.png" alt="sql_img" class="detail-img" />
    </a>
  </div>
  <div class="row my-3">
    <div class="col">
      <button class="btn btn-sm btn-outline-primary" (click)="adRow()">Add row</button>
    </div>
  </div>
  <div class="row my-3">
    <div class="col">
      <button class="btn btn-sm btn-outline-primary" (click)="deleteRow()">Delete row</button>
    </div>
  </div>
  <table id="columnTable">
    <thead>
      <tr>
        <th>P. key</th>
        <th>Not null</th>
        <th>Field name</th>
        <th>Data type</th>
        <th>Del</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of matrixTableTranspone, let i = index">
      <td> <input type="checkbox" [(ngModel)]="pKeyCheckbox[i]"> </td>
      <td> <input type="checkbox" [(ngModel)]="isnullCheckbox[i]"> </td>
      <td *ngFor="let cell of row " contenteditable='true'>{{ cell }}</td>
      <td> <input type="checkbox"    [(ngModel)]="delCheckbox[i]"> </td>
    </tr>
  </tbody>
  </table>


</aside>

<div class="page-wrapper">
  <div class="page-container">
    <header>
      <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <h1>SQL editor</h1>
          </a>
        </div>
      </nav>
    </header>
    <div class="container-fluid py-3">
      <div class="row my-3">
        <div class="col">
          <label for="sqlQuery" class="form-label">SQL command</label>
          <textarea class="form-control form-control-sm" id="sqlQuery" rows="3" [(ngModel)]="sqlQuery"></textarea>
        </div>
      </div>
      <div class="row my-3">
        <div class="col">
          <button class="btn btn-sm btn-outline-primary" (click)="executeQuery()">
            Generate
          </button>
        </div>
      </div>
      <div class="col">
        <label for="sqlColumns" class="form-label">Columns</label>
        <div class="input-group">
          <textarea #column class="form-control form-control-sm" id="columns" rows="1">{{ displayColumn() }}</textarea>
          <button class="btn btn-outline-primary btn-sm" (click)="copyToClipboard(column.value, 'column')">Copy</button>
        </div>
      </div>
      <br>
      <div>
        <label for="sqlTable">Table: </label>
        <input type="text" id="tableName" [(ngModel)]="tableName" class="m-2 rounded p-1" placeholder="Table's name">
      </div>
      <div class="input-group">
        <textarea #table readonly class="form-control form-control-sm" id="sqlTable"
          rows="1">{{ displayTable() }}</textarea>
        <button class="btn btn-outline-primary btn-sm" (click)="copyToClipboard(table.value, 'table')">Copy</button>
      </div>
      <div>
        <label>Test for type:</label>
        <textarea class="form-control form-control-sm" id="test">{{ displayMatrixTableTranspone() }}</textarea>
      </div>
    </div>
  </div>
</div>
